# Django
__pycache__/
db.sqlite3
migrations/*
!migrations/__init__.py

# Virtualenv
.venv

# Static
# staticfiles/*

# Editor
.vscode

# Images
*.svg

# Local settings
*.env
*.env.local
*.env.production
!example.env

# Framework folders
theme/static_src/*
