<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Welcome to Contacts Calendar</title>
</head>
<body style="background-color: #f7fafc">
    <center>
        <table cellspacing="0" width=45% style="margin: 2rem">
            <tbody style="background-color: #FFFFFF; font-family: 'Roboto', sans-serif;">
                <tr>
                    <td>
                        <center>
                            <table>
                                <tr>
                                    <td>
                                        <img src="https://img.icons8.com/plasticine/75/000000/starred-ticket.png"/>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>
                            <table>
                                <tr>
                                    <td>
                                        <h2 align="center">Welcome {{ first_name }}!</h2><br>
                                        Correo de confirmacíon para la cuenta que creaste!
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
                <tr bgcolor= "#DAE7D4">
                    <td>
                        <center>
                            <table>
                                <tr>
                                    <td>
                                        <img src="https://img.icons8.com/plasticine/40/000000/twitter.png"/>
                                        <img src="https://img.icons8.com/plasticine/40/000000/instagram-new.png"/>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>