<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Contacts Calendar</title>
</head>
<body>
    <center>
        <table width=45% style="margin: 2rem">
            <tbody style="background-color: gray">
                <tr>
                    <td>
                        <center>
                            <table>
                                <tr>
                                    <td>
                                        &nbsp
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>
                            <table>
                                <tr>
                                    <td>
                                        Imagen de header
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>
                            <table>
                                <tr>
                                    <td>
                                        Welcome {{ first_name }}
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>
                            <table>
                                <tr>
                                    <td>
                                        Content
                                        Coming soon
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>