<div class="grid sm:grid-cols-1 lg:grid-cols-2 gap-4 m-3">
    <div class="ml-2">
        <label class="block text-lg font-serif" for="">
            Full name
        </label>
        <p class="font-light italic">
            {{ contact.full_name }}
        </p>
    </div>
    <div class="ml-2">
        <label class="block text-lg font-serif" for="">
            Email
        </label>
        <p class="font-light italic">
            {{ contact.contact_email }}
        </p>
    </div>
    <div class="ml-2">
        <label class="block text-lg font-serif" for="">
            Phone
        </label>
        <p class="font-light italic">
            {{ contact.phone_number }}
        </p>
    </div>
    <div class="ml-2">
        <label class="block text-lg font-serif" for="">
            Date of Birth
        </label>
        <p class="font-light italic">
            {{ contact.date_of_birth }}
        </p>
    </div>
</div>
