{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <script src="{% static 'contact_list/js/index.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="relative bg-gray-200">
    <nav class="fixed top-0 left-0 right-0 flex items-center justify-between flex-wrap bg-indigo-500 p-4">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <p class="font-semibold text-xl tracking-tight">
                <a href="{% url 'contact_list:index' %}">
                    Contacts Calendar
                </a>
            </p>
        </div>
        <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 border rounded text-white border-white hover:border-transparent hover:text-indigo-500 hover:bg-white" onclick="navBar()">
                Menu
            </button>
        </div>
        <div class="block w-full flex-grow hidden lg:flex lg:items-center lg:w-auto" id="nav-items">
            <div class="text-sm lg:flex-grow">
            </div>
            {% if request.user.is_authenticated %}
                <div>
                    <a class="inline-block text-sm mx-3 px-4 py-2 leading-none border rounded text-white hover:border-transparent hover:bg-green-500 mt-4 lg:mt-0" href="{% url 'contacts:add' %}">
                        Add
                    </a>
                </div>
                <div>
                    <a class="inline-block text-sm mx-3 px-4 py-2 leading-none border rounded text-white hover:border-transparent hover:bg-purple-500 mt-4 lg:mt-0" href="#">
                        Favorite
                    </a>
                </div>
                <div>
                    <a class="inline-block text-sm mx-3 px-4 py-2 leading-none border rounded text-white hover:border-transparent hover:bg-yellow-500 mt-4 lg:mt-0" href="#">
                        Filed
                    </a>
                </div>
                <div>
                    <a class="inline-flex items-center text-sm mx-3 px-4 py-2 leading-none border rounded text-white hover:border-transparent hover:bg-pink-500 mt-4 lg:mt-0" href="#">
                        <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
                        <span>Download</span>
                    </a>
                </div>
                <div>
                    <a class="inline-block text-sm mx-3 px-4 py-2 leading-none border rounded text-white hover:border-transparent hover:bg-teal-500 mt-4 lg:mt-0" href="{% url 'accounts:settings' %}">
                        Settings
                    </a>
                </div>
                <div>
                    <a class="inline-block text-sm ml-3 px-4 py-2 leading-none border rounded text-white hover:border-transparent hover:bg-red-500 mt-4 lg:mt-0" href="{% url 'accounts:logout'%}">
                        Logout
                    </a>
                </div>
            {% else %}
                <div>
                    <a class="inline-block text-sm mx-3 px-4 py-2 leading-none border rounded text-white hover:border-transparent hover:bg-teal-500 mt-4 lg:mt-0" href="{% url 'accounts:login' %}">
                        Login
                    </a>
                </div>
                <div>
                    <a class="inline-block text-sm ml-3 px-4 py-2 leading-none border rounded text-white hover:border-transparent hover:bg-teal-500 mt-4 lg:mt-0" href="{% url 'accounts:create' %}">
                        Create account
                    </a>
                </div>
            {% endif %}
        </div>
    </nav>

    <main class="min-h-screen pt-20 pb-32">
        {% block body_main %}
        {% endblock body_main %}
    </main>

    <footer class="absolute bottom-0 w-full bg-gray-800 text-white">
            {% if request.user.is_authenticated %}
                <div class="flex justify-between border-b border-indigo-500 m-3 p-2 pb-4">
                    {% if page_obj.has_previous %}
                        <div class="">
                            <a class="bg-gray-800 hover:bg-indigo-500 rounded m-3 px-4 py-2" href="?page={{ page_obj.previous_page_number }}">
                                Previus
                            </a>
                        </div>
                    {% else %}
                        <div class="">
                            <a class="bg-gray-800 hover:bg-indigo-500 rounded m-3 cursor-not-allowed px-4 py-2"s>
                                Previus
                            </a>
                        </div>
                    {% endif %}

                    <div>
                        <span>
                            {{ page_obj.number }} - {{ page_obj.paginator.num_pages }}
                        </span>
                    </div>

                    {% if page_obj.has_next %}
                        <div class="">
                            <a class="bgray-300 hover:bg-indigo-500 rounded m-3 px-4 py-2" href="?page={{ page_obj.next_page_number }}">
                                Next
                            </a> 
                        </div>
                    {% else %}
                        <div class="">
                            <a class="bgray-300 hover:bg-indigo-500 rounded m-3 cursor-not-allowed px-4 py-2"s>
                                Next
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="">
                <p>
                    GitHub
                </p>
                <p>
                    Linkedin
                </p>
            </div>
    </footer>
</body>
</html>