<div class="flex justify-between border-b border-gray-500 m-3 pb-3">
    <div class="">
        {% if contact.favorite %}
            <a class="block font-mono bg-purple-400 border-2 border-purple-400 hover:border-transparent hover:bg-purple-400 rounded px-2 py-1" href="{% url 'contacts:add-favorite' contact.id %}">
                Favorite
            </a>
        {% else %}
            <a class="block font-mono bg-transparent border-2 border-gray-300 hover:bg-purple-400 hover:border-transparent rounded px-2 py-1" href="{% url 'contacts:add-favorite' contact.id %}">
                Favorite
            </a>
        {% endif %}
    </div>
    <div class="">
        {% if contact.filed %}
            <a class="block font-mono bg-yellow-400 border-2 border-double border-yellow-400 hover:border-transparent hover:bg-yellow-400 rounded px-2 py-1" href="{% url 'contacts:add-filed' contact.id %}">
                File
            </a>
        {% else %}
            <a class="block font-mono bg-transparent border-2 border-gray-300 hover:bg-yellow-400 hover:border-transparent rounded px-2 py-1" href="{% url 'contacts:add-filed' contact.id %}">
                File
            </a>
        {% endif %}
    </div>
</div>
