{% extends 'base/accounts_base.html' %}

{% block title %} Create account done {% endblock %}

{% block body_title %}Thanks!{% endblock %}

{% block body_content %}
    <div class="flex flex-col justify-center max-w-xl bg-green-200 shadow-md rounded-lg border-solid border border-gray-600 p-4">
        <div class="mb-3">
            <p>
                Thanks, your account is successfuly created!
            </p>
            <p>
                You will redirect to principal page...
            </p>
        </div>

        <div class="w-full text-center font-serif border-t border-gray-500">
            <p class="mt-3">
                <a class="text-blue-500 hover:underline" href="{% url 'contact_list:index' %}">
                    [Redirect to principal page]
                </a>
            </p>
        </div>
    </div>
{% endblock body_content %}
