{% extends 'base/accounts_base.html' %}

{% block title %}Create account{% endblock title %}

{% block text %}
    <div class="flex flex-col sm:flex-row">
        <div class="flex-auto"></div>

        <div class="text-gray-700 text-center bg-gray-400 m-5 p-3">
            <div>
                <p>Create account</p>
            </div>
            <form class="" method="post">
                <div class="flex flex-col">
                    {% csrf_token %}

                    <div class="flex flex-col sm:flex-row flex-wrap md:flex-wrap">
                        <div class="">
                            <label class="" for="">
                                First name
                            </label>
                            <input class="appearance-none bg-gray-200 text-gray-700 m-3 border border-red-500 rounded leading-tight focus:outline-none focus:bg-white" type="text" name="" id="">
                        </div>

                        <div class="">
                            <label for="">
                                Last name
                            </label>
                            <input class="appearance-none bg-gray-200 text-gray-700 m-3 border border-red-500 rounded leading-tight focus:outline-none focus:bg-white" type="text" name="" id="">
                        </div>

                        <div class="">
                            <label for="">
                                Date of birth
                            </label>
                            <input class="appearance-none bg-gray-200 text-gray-700 m-3 border border-red-500 rounded leading-tight focus:outline-none focus:bg-white" type="text" name="" id="">
                        </div>

                        <div class="">
                            <label for="">
                                Gender
                            </label>
                            <input class="appearance-none bg-gray-200 text-gray-700 m-3 border border-red-500 rounded leading-tight focus:outline-none focus:bg-white" type="text" name="" id="">
                        </div>

                        <div class="">
                            <label for="">
                                Phone number
                            </label>
                            <input class="appearance-none bg-gray-200 text-gray-700 m-3 border border-red-500 rounded leading-tight focus:outline-none focus:bg-white" type="text" name="" id="">
                        </div>
                    </div>

                    <div class="flex flex-col sm:flex-row flex-wrap md:flex-wrap">
                        <div class="">
                            <label for="">
                                Email
                            </label>
                            <input class="appearance-none bg-gray-200 text-gray-700 m-3 border border-red-500 rounded leading-tight focus:outline-none focus:bg-white" type="text" name="" id="">
                        </div>

                        <div class="">
                            <label for="">
                                Username
                            </label>
                            <input class="appearance-none bg-gray-200 text-gray-700 m-3 border border-red-500 rounded leading-tight focus:outline-none focus:bg-white" type="text" name="" id="">
                        </div>

                        <div class="">
                            <label for="">
                                Password
                            </label>
                            <input class="appearance-none bg-gray-200 text-gray-700 m-3 border border-red-500 rounded leading-tight focus:outline-none focus:bg-white" type="text" name="" id="">
                        </div>

                        <div class="">
                            <label for="">
                                Password confirmation
                            </label>
                            <input class="appearance-none bg-gray-200 text-gray-700 m-3 border border-red-500 rounded leading-tight focus:outline-none focus:bg-white" type="text" name="" id="">
                        </div>
                    </div>

                    <div class="">
                        <input type="submit" value="Create account">
                    </div>
                </div>
            </form>
        </div>

        <div class="flex-auto"></div>
    </div>
{% endblock text %}