{% extends 'base/contact_list_base.html' %}

{% block title %}Delete - Contacts calendar{% endblock %}

{% block body_main %}
    <form method="post">
        {% csrf_token %}

        <div class="flex justify-center flex-row flex-wrap p-2">
            <div class="flex flex-col sm:w-full md:w-4/5 lg:w-1/3 m-2 p-3 rounded-lg border-solid border border-gray-600 bg-white">
                <div class="flex justify-between border-b m-2 pb-2">
                    <p>
                        Contact
                    </p>
                </div>

                <div class="flex flex-wrap sm:flex-col md:flex-row m-2 p-3">
                    <div class="sm:w-full md:w-1/2 my-2 p-2">
                        <label class="block text-lg font-serif" for="">
                            First name
                        </label>
                        <p class="font-light italic">
                            {{ object.first_name }}
                        </p>
                    </div>
                    <div class="sm:w-full md:w-1/2 my-2 p-2">
                        <label class="block text-lg font-serif" for="">
                            Last name
                        </label>
                        <p class="font-light italic">
                            {{ object.last_name }}
                        </p>
                    </div>
                    <div class="sm:w-full md:w-full my-2 p-2">
                        <label class="block text-lg font-serif" for="">
                            Email
                        </label>
                        <p class="font-light italic">
                            {{ object.contact_email }}
                        </p>
                    </div>
                    <div class="sm:w-full md:w-1/2 my-2 p-2">
                        <label class="block text-lg font-serif" for="">
                            Phone number
                        </label>
                        <p class="font-light italic">
                            {{ object.phone_number }}
                        </p>
                    </div>
                    <div class="sm:w-full md:w-1/2 my-2 p-2">
                        <label class="block text-lg font-serif" for="">
                            Birth date
                        </label>
                        <p class="font-light italic">
                            {{ object.date_of_birth|date:'d/m/Y' }}
                        </p>
                    </div>
                </div>

                <div class="flex justify-between border-t m-2 pt-2">
                    <a class="block font-mono bg-red-300 border-red-300 hover:border-transparent hover:bg-red-500 rounded p-2" href="{% url 'contact_list:index' %}">
                        Cancel
                    </a>
                    <button class="block font-mono bg-teal-300 border-teal-300 hover:border-transparent hover:bg-teal-500 rounded p-2" type="submit" >
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock body_main %}
