{% extends 'base/contact_list_base.html' %}

{% block title %}Contacts calendar{% endblock %}

{% block body_main %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="favorite" value="True">

        <div class="grid sm:grid-cols-1 lg:grid-cols-3 gap-4 m-4 p-3">
            <div class="grid lg:col-start-2 border border-gray-600 rounded-lg bg-gray-100">

                <div class="flex justify-between border-b border-gray-500 m-4 pb-3">
                    <div class="">
                        <p>
                            Favorite contact
                        </p>
                    </div>
                </div>

                <div class="grid sm:grid-cols-1 lg:grid-cols-2 gap-4 m-3">
                    <div class="ml-2">
                        <label class="block text-lg font-serif" for="">
                            First name
                        </label>
                        <p class="font-light italic">
                            {{ object.first_name }}
                        </p>
                    </div>
                    <div class="ml-2">
                        <label class="block text-lg font-serif" for="">
                            Last name
                        </label>
                        <p class="font-light italic">
                            {{ object.last_name }}
                        </p>
                    </div>
                    <div class="md:row-span-2 md:col-span-2 ml-2">
                        <label class="block text-lg font-serif" for="">
                            Email
                        </label>
                        <p class="font-light italic">
                            {{ object.contact_email }}
                        </p>
                    </div>
                    <div class="ml-2">
                        <label class="block text-lg font-serif" for="">
                            Phone number
                        </label>
                        <p class="font-light italic">
                            {{ object.phone_number }}
                        </p>
                    </div>
                    <div class="ml-2">
                        <label class="block text-lg font-serif" for="">
                            Date of Birth
                        </label>
                        <p class="font-light italic">
                            {{ object.date_of_birth }}
                        </p>
                    </div>
                </div>

                <div class="flex justify-between border-t border-gray-500 m-3 pt-3">
                    <div class="">
                        <a class="block font-mono bg-transparent border-2 border-dashed border-red-400 hover:border-transparent hover:bg-red-400 rounded p-2" href="{% url 'contact_list:index' %}">
                            Cancel
                        </a>
                    </div>
                    <div class="">
                        <button class="block font-mono bg-green-200 border-2 border-green-400 hover:border-transparent hover:bg-green-400 rounded p-2" type="submit">
                            Add favorite
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </form>
{% endblock body_main %}
