{% extends 'base/accounts_base.html' %}

{% block title %}Password reset{% endblock %}

{% block body_title %}Password reset{% endblock %}

{% block body_main %}
    <div class="grid justify-center m-2 pb-8">
        <form class="bg-gray-100 border border-gray-500 rounded-lg m-2 p-3" method="post">
            {% csrf_token %}

            <div class="mb-1" role="alert">
                <span class="text-sm text-red-600 italic">
                    {{ form.non_field_errors }}
                </span>
            </div>

            <div class="text-left m-3">
                <label class="block font-semibold mb-2" for="email">
                    Email of a registered account
                </label>
                <input class="appearance-none bg-gray-200 text-gray-700 border border-blue-400 rounded w-56 py-1 px-2 focus:outline-none focus:shadow-outline" type="email" name="email" id="email">

                <div class="mt-1" role="alert">
                    <span class="text-sm text-red-600 italic">
                        {{ form.email.errors }}
                    </span>
                </div>
            </div> 

            <div class="m-3 pt-3">
                <button class="w-full bg-green-300 hover:bg-green-500 text-green-700 font-mono hover:text-white p-1 border-double border-2 border-green-500 rounded" type="submit">
                    Reset password
                </button>
            </div>

            <div class="text-center m-3 pt-2">
                <a class="block bg-transparent hover:bg-red-500 text-red-500 font-mono hover:text-white p-1 border-dashed border-2 border-red-300 hover:border-red-500 rounded" href="{% url 'accounts:login' %}">
                    Cancel
                </a>
            </div>
        </form>
    </div>
{% endblock body_main %}
