{% extends 'base/accounts_base.html' %}

{% block title %}Password reset confirm{% endblock %}

{% block body_title %}Password reset confirm{% endblock %}

{% block body_main %}
    {% if validlink %}
        <div class="grid justify-center m-3 pb-8">
            <form class="bg-gray-100 border border-gray-500 rounded-lg" method="post">
                {% csrf_token %}

                <div class="m-3">
                    <div class="mb-1" role="alert">
                        <span class="text-sm text-red-600 italic">
                            {{ form.non_field_errors }}
                        </span>
                    </div>

                    <label class="block font-semibold mb-2" for="old_password">
                        New Password
                    </label>
                    <input class="appearance-none bg-gray-200 text-gray-700 border border-blue-400 rounded w-full py-1 px-2 focus:outline-none focus:shadow-outline" type="password" name="new_password1" id="old_password">

                    <div class="mt-1" role="alert">
                        <span class="text-sm text-red-600 italic">
                            {{ form.new_password1.errors }}
                        </span>
                        <span class="text-sm italic">
                            {{ form.new_password1.help_text }}
                        </span>
                    </div>
                </div> 

                <div class="m-3">
                    <label class="block font-semibold mb-2" for="new_password1">
                        Repeat new password
                    </label>
                    <input class="appearance-none bg-gray-200 text-gray-700 border border-blue-400 rounded w-full py-1 px-2 focus:outline-none focus:shadow-outline" type="password" name="new_password2" id="new_password1">
                    <div class="mt-1" role="alert">
                        <span class="text-sm text-red-600 italic">
                            {{ form.new_password2.errors }}
                        </span>
                    </div>
                </div>

                <div class="m-3 pt-3">
                    <button class="w-full bg-green-300 hover:bg-green-500 text-green-700 font-mono hover:text-white p-1 border-double border-2 border-green-500 rounded" type="submit">
                        Set password
                    </button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="grid justify-center m-3 pb-8">
            <div class="bg-red-200 border border-gray-500 rounded-lg m-2 p-3">
                <p>
                    This link for reset password is already used.
                </p>
            </div>
        </div>
    {% endif %}
{% endblock body_main %}