{% if request.user.is_authenticated %}
<div class="flex justify-between border-b border-indigo-500 m-3 p-2 pb-4">
  {% if page_obj.has_previous %}
  <div class="">
    <a class="bg-transparent border-2 border-indigo-500 hover:bg-indigo-500 rounded m-3 px-4 py-2"
      href="?page={{ page_obj.previous_page_number }}">
      Previus
    </a>
  </div>
  {% else %}
  <div class="">
    <a class="bg-transparent border-2 border-indigo-500 hover:bg-indigo-500 rounded m-3 cursor-not-allowed px-4 py-2">
      Previus
    </a>
  </div>
  {% endif %}

  <div>
    <span>
      {{ page_obj.number }} - {{ page_obj.paginator.num_pages }}
    </span>
  </div>

  {% if page_obj.has_next %}
  <div class="">
    <a class="bg-transparent border-2 border-indigo-500 hover:bg-indigo-500 rounded m-3 px-4 py-2"
      href="?page={{ page_obj.next_page_number }}">
      Next
    </a>
  </div>
  {% else %}
  <div class="">
    <a class="bg-transparent border-2 border-indigo-500 hover:bg-indigo-500 rounded m-3 px-4 py-2 cursor-not-allowed">
      Next
    </a>
  </div>
  {% endif %}
</div>
{% endif %}
