{% extends 'base/contact_list_base.html' %}

{% block title %}Contacts calendar{% endblock %}

{% block body_main %}
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 m-4 p-3">
        {% for contact in all_contacts %}
            <div class="grid border border-gray-600 rounded-lg bg-white">

                <div class="flex justify-between border-b m-3 pb-3">
                    <div class="">
                        <button class="font-mono bg-purple-300 border border-purple-300 hover:border-transparent hover:bg-purple-500 rounded p-2">
                            Favorite
                        </button>
                    </div>
                    <div class="">
                        <button class="font-mono bg-yellow-300 border border-yellow-300 hover:border-transparent hover:bg-yellow-500 rounded p-2">
                            File
                        </button>
                    </div>
                </div>

                <div class="grid sm:grid-cols-1 lg:grid-cols-2 gap-4 m-3">
                    <div class="ml-2">
                        <label class="block" for="">First name</label>
                        <p class="">{{ contact.first_name }}</p>
                    </div>
                    <div class="ml-2">
                        <label class="block" for="">Last name</label>
                        <p>{{ contact.last_name }}</p>
                    </div>
                    <div class="row-span-2 col-span-2 ml-2">
                        <label class="block" for="">Email</label>
                        <p>{{ contact.contact_email }}</p>
                    </div>
                    <div class="ml-2">
                        <label class="block" for="">Phone number</label>
                        <p>{{ contact.phone_number }}</p>
                    </div>
                    <div class="ml-2">
                        <label class="block" for="">Date of Birth</label>
                        <p>{{ contact.date_of_birth }}</p>
                    </div>
                </div>

                <div class="flex justify-between border-t m-3 pt-3">
                    <div class="">
                        <a class="block font-mono bg-red-300 border-red-300 hover:border-transparent hover:bg-red-500 rounded p-2" href="{% url 'contacts:delete' request.user.username contact.id %}">
                            Delete
                        </a>
                    </div>
                    <div class="">
                        <a class="block font-mono bg-teal-300 border-teal-300 hover:border-transparent hover:bg-teal-500 rounded p-2" href="{% url 'contact_list:update' %}">
                            Update
                        </a>
                    </div>
                </div>

            </div>
        {% empty %}
            <div>No contacts</div>
        {% endfor %}
    </div>
{% endblock body_main %}
