{% extends 'base/contact_list_base.html' %}

{% block title %}Contacts calendar{% endblock %}

{% block body_content %}
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            Contacts Calendar
        </div>

        <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white" onclick="navBar()">
                Menu
            </button>
        </div>

        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto" id="nav-items">
            <div class="text-sm lg:flex-grow">
                <a class="block mt-4 mr-4 lg:inline-block lg:mt-0" href="#">
                    Ejemplo
                </a>
                <a class="block mt-4 mr-4 lg:inline-block lg:mt-0" href="{% url 'accounts:profile' request.user.username %}" class="nav-link">
                    Profile
                </a>
            </div>
            <div>
                <a class="inline-block text-sm px-4 py-2 leading-none border rounded" href="#">
                    Profile
                </a>
            </div>
        </div>
    </nav>
    <nav>
        <p>Hi</p>
    </nav>
{% endblock body_content %}
